<section class="login-area padding-top-100 padding-bottom-100" style="margin-top: 6.5rem!important;">
  <div class="container">
      <div class="login-wrapper login-shadow bg-white">
          <div class="login-wrapper-flex">
              <div class="login-wrapper-thumb">
                  <img src="assets/img/single-page/cl3.jpg" alt="img">
              </div>
              <div class="login-wrapper-contents login-padding">
                  <h2 class="single-title"> Welcome! </h2>
                  <p class="sigle-para mt-2"> Login to Continue </p>
                  <form class="login-wrapper-contents-form custom-form" action="#">
                      <div class="single-input mt-4">
                          <label class="label-title mb-3">Enter Your ITS </label>
                          <input class="form--control" type="text" placeholder="Enter Your ITS">
                      </div>
                      <div class="single-input mt-4">
                          <label class="label-title mb-3"> Password </label>
                          <input class="form--control" type="password" placeholder="Type Password">
                          <div class="icon toggle-password">
                              <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                              <span class="hide-icon"> <i class="las la-eye"></i> </span>
                          </div>
                      </div>



                  </form>
                  <a href="index.html"><button class="submit-btn w-100 mt-4" type="submit"> Log In  </button></a>
                  <div class="single-checkbox mt-3">
                      <div class="checkbox-inline">
                          <input class="check-input" type="checkbox" id="check15">
                          <label class="checkbox-label" for="check15"> Remember Me </label>
                      </div>

                  </div>

              </div>
          </div>
      </div>
  </div>
</section>


<div class="mouse-move mouse-outer"></div>
<div class="mouse-move mouse-inner"></div>
