<header class="header-style-01">

  <nav class="navbar navbar-area white-nav nav-absolute navbar-two navbar-expand-lg">
      <div class="container-fluid custom-container-one nav-container">
          <div class="logo-wrapper">
              <a href="index.html" class="logo">
                  <img src="assets/img/02_logo.png" alt="">
              </a>
          </div>
          <div class="responsive-mobile-menu d-lg-none">
              <a href="javascript:void(0)" class="click-nav-right-icon">
                  <i class="las la-ellipsis-v"></i>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#hotel_booking_menu">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="hotel_booking_menu">
              <ul class="navbar-nav">
                  <li>
                      <a routerLink="/">Home</a>
                  </li>
                  <li><a routerLink="/home/about"> About Us </a></li>
                  <li><a routerLink="/home/contact-us"> Contact Us </a></li>
              </ul>
          </div>
          <div class="navbar-right-content show-nav-content">
              <div class="single-right-content">
                  <div class="navbar-right-flex">

                      <div class="btn-wrapper">
                          <a routerLink="/home/login" class="cmn-btn btn-bg-1 radius-10"> Log In </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </nav>

</header>
