<div class="breadcrumb-area breadcrumb-padding " style="margin-top: 6.5rem!important;">
  <div class="container custom-container-one">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-contents">
                  <h4 class="breadcrumb-contents-title"> Room Details </h4>
                  <ul class="breadcrumb-contents-list list-style-none">
                      <li class="breadcrumb-contents-list-item"> <a routerLink="/"
                              class="breadcrumb-contents-list-item-link"> Home </a> </li>
                      <li class="breadcrumb-contents-list-item"> <a routerLink="/home/listing"
                              class="breadcrumb-contents-list-item-link"> Room </a> </li>
                      <li class="breadcrumb-contents-list-item"> Room Details </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>


<section class="hotel-details-area section-bg-2 pat-100 pab-100">
  <div class="container">
      <div class="row g-4">
          <div class="col-xl-8 col-lg-7">
              <div class="details-left-wrapper">
                  <div class="details-contents bg-white radius-10">
                      <div class="details-contents-header">
                          <div *ngIf="roomDetails?.room_images.length>0" class="details-contents-thumb details-contents-main-thumb bg-image"
                              style="background-image: url(https://estate.friendswebsolutions.com/api/uploads/room/{{roomDetails?.room_images[0].image_name}});">
                          </div>
                          <div *ngIf="roomDetails?.room_images.length==0" class="details-contents-thumb details-contents-main-thumb bg-image"
                            style="background-image: url(assets/img/single-page/details_main.jpg);">
                        </div>
                      </div>
                      <div class="hotel-view-contents">
                          <div class="hotel-view-contents-header">
                              <span class="hotel-view-contents-review"> <i class="las la-star"></i> <span
                                      class="hotel-view-contents-review-count">  </span> </span>
                              <h3 class="hotel-view-contents-title"> {{roomDetails?.property_name | titlecase}} </h3>
                              <div class="hotel-view-contents-location mt-2">
                                  <span class="hotel-view-contents-location-icon"> <i
                                          class="las la-map-marker-alt"></i> </span>
                                  <span class="hotel-view-contents-location-para">{{roomDetails?.property_address | titlecase}}</span>
                              </div>
                          </div>
                          <div class="hotel-view-contents-middle">
                              <div class="hotel-view-contents-flex">
                                  <div class="hotel-view-contents-icon d-flex gap-1">
                                      <p class="hotel-view-contents-icon-title flex-fill"> {{roomDetails?.amenities}} </p>
                                  </div>
                              </div>
                          </div>
                          <div class="hotel-view-contents-bottom">
                              <div class="hotel-view-contents-bottom-flex">
                                  <div class="hotel-view-contents-bottom-contents">
                                      <h4 class="hotel-view-contents-bottom-title"> ₹{{roomDetails?.room_charge}} <sub>/Night</sub> </h4>

                                  </div>

                              </div>
                          </div>
                      </div>
                      <!-- <div class="details-contents-tab">
                          <ul class="tabs details-tab details-tab-border">
                              <li class="active" data-tab="about"> About </li>
                              <li data-tab="reviews"> Reviews </li>
                          </ul>
                          <div id="about" class="tab-content-item active">
                              <div class="about-tab-contents">
                                  <p class="about-tab-contents-para"> One morning, when Gregor Samsa woke from
                                      troubled dreams, he found himself transformed in his bed into a horrible
                                      vermin. He lay on his armour-like back. </p>
                                  <p class="about-tab-contents-para mt-4"> He lifted his head a little he could
                                      see his brown belly, slightly domed and divided by arches into stiff
                                      sections. The bedding was hardly able to cover it and seemed ready to slide
                                      off any moment. His many legs,
                                      pitifully thin compared with the size of the rest of him. </p>
                                  <p class="about-tab-contents-para mt-4">
                                      So many legs pitifully thin compared with the size of the rest of him waved
                                      about helplessly as he looked What's happened to me. </p>
                              </div>
                          </div>
                          <div id="reviews" class="tab-content-item">
                              <div class="review-tab-contents">
                                  <div class="review-tab-contents-single">
                                      <div class="rating-wrap">
                                          <div class="ratings">
                                              <span class="hide-rating"></span>
                                              <span class="show-rating"></span>
                                          </div>
                                          <p> <span class="total-ratings">(167)</span></p>
                                      </div>
                                      <p class="about-review-para mt-3"> Lorem ipsum dolor sit amet, consectetur
                                          adipiscing elit. Sed a egestas leo. Aliquam ut ante lobortis tellus
                                          cursus pellentesque. Praesent feugiat tellus quis aliquet </p>
                                      <div class="review-tab-contents-author mt-4">
                                          <h4 class="review-tab-contents-author-name"> Sandra M. Hurt </h4>
                                          <p class="review-tab-contents-author-para mt-2"> TrustPilot </p>
                                      </div>
                                  </div>
                                  <div class="review-tab-contents-single">
                                      <div class="rating-wrap">
                                          <div class="ratings">
                                              <span class="hide-rating"></span>
                                              <span class="show-rating"></span>
                                          </div>
                                          <p> <span class="total-ratings">(236)</span></p>
                                      </div>
                                      <p class="about-review-para mt-3"> Lorem ipsum dolor sit amet, consectetur
                                          adipiscing elit. Sed a egestas leo. Aliquam ut ante lobortis tellus
                                          cursus pellentesque. Praesent feugiat tellus quis aliquet </p>
                                      <div class="review-tab-contents-author mt-4">
                                          <h4 class="review-tab-contents-author-name"> Robert Fox </h4>
                                          <p class="review-tab-contents-author-para mt-2"> Designer </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                  </div>

              </div>
          </div>
          <div class="col-xl-4 col-lg-5">
              <div class="sticky-top">
                  <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                    <form [formGroup]="checkoutForm">
                      <div class="row">
                        <!-- <div class="col-lg-12 p-t-20">
                          <div class="form-floating">
                            <input type="text" class="form-control" #input id="floatingSelectGrid4" placeholder="Search Property" formControlName="property_name"/>
                            <label for="floatingSelectGrid4">Location <span style="color: red;">*</span></label>
                            <ul class="list-group" style="position: absolute;z-index: 1;width: 90%;height: 200px;" *ngIf="searchArray.length>0">
                              <li class="list-group-item" style="cursor: pointer;" (click)="setAddress(item.property_uid, item.property_name, item.property_address)" *ngFor="let item of searchArray">{{item.property_name | titlecase}}, {{item.property_address | titlecase}}</li>
                            </ul>
                          </div>
                        </div> -->
                        <div class="col-lg-12 p-t-20 mt-3">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="check_in2" id="floatingInput" [minDate]="minDate" bsDatepicker [bsConfig]="bsConfig" placeholder="Check In">
                            <label for="floatingInput">Check In <span style="color: red;">*</span></label>
                          </div>
                        </div>
                        <div class="col-lg-12 p-t-20">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" bsDatepicker [bsConfig]="bsConfig" [minDate]="minDate" formControlName="check_out2" id="floatingInput2" placeholder="Check Out">
                            <label for="floatingInput2">Check Out <span style="color: red;">*</span></label>
                          </div>
                        </div>
                        <div class="col-lg-12 p-t-20">
                          <div class="form-floating">
                            <select class="form-select" id="floatingSelectGrid3" formControlName="adults" placeholder="Adult">
                              <option value="">Select Person</option>
                              <option  value="1">1</option>
                              <option  value="2">2</option>
                              <option  value="3">3</option>
                              <option  value="4">4</option>
                              <option  value="5">5</option>
                              <option  value="6">6</option>
                              <option  value="7">7</option>
                            </select>
                            <label for="floatingSelectGrid3">Person <span style="color: red;">*</span></label>
                          </div>
                        </div>
                        <div class="col-lg-12 p-t-20 mt-3">
                          <div class="form-floating">
                            <select class="form-select" id="floatingSelectGrid4" formControlName="children">
                              <option value="">Select Children</option>
                              <option  value="0">0</option>
                              <option  value="1">1</option>
                              <option  value="2">2</option>
                              <option  value="3">3</option>
                              <option  value="4">4</option>
                              <option  value="5">5</option>
                              <option  value="6">6</option>
                              <option  value="7">7</option>
                            </select>
                            <label for="floatingSelectGrid4">Children <span style="color: red;">*</span></label>
                          </div>
                        </div>
                        <div class="col-lg-9 p-t-20 mt-3">
                          <div class="banner-location-single-search" *ngIf="searchArray.length>0">
                            <div class="search-suggestions-wrapper">
                              <div class="btn-wrapper mt-4">
                                <a (click)="searchCustomer()" class="cmn-btn btn-bg-1 btn-small"> Go to Checkout </a>
                            </div>
                            </div>
                            <div class="search-suggestion-overlay"></div>
                        </div>
                        </div>
                        <div class="col-lg-3 p-t-20 mt-3">
                          <div class="banner-location-single-search" *ngIf="searchArray.length>0">
                            <div class="search-suggestions-wrapper">
                              <div class="btn-wrapper mt-3">
                                <a (click)="removeItem(searchArray[0].room_uid)">
                                  <div class="search-click-icon">
                                      <i class="las la-trash"></i>
                                  </div></a>
                            </div>
                                <!-- <a (click)="removeItem(searchArray[0].room_uid)">
                                <div class="search-click-icon">
                                    <i class="las la-trash"></i>
                                </div></a> -->
                            </div>
                            <div class="search-suggestion-overlay"></div>
                        </div>
                      </div>
                      <div class="col-lg-12 p-t-20 mt-3">
                        <div class="banner-location-single-search" *ngIf="searchArray.length==0">
                          <div class="search-suggestions-wrapper">
                            <div class="btn-wrapper mt-4">
                              <a (click)="searchCustomer()" class="cmn-btn btn-bg-1 btn-small"> Book Now </a>
                          </div>
                          </div>
                          <div class="search-suggestion-overlay"></div>
                      </div>
                        </div>
                        </div>
                    </form>
                  </div>
                  <div class="hotel-details-widget widget bg-white radius-10">


              </div>
          </div>
      </div>
  </div>
  </div>
</section>
